#generate {
    background-color: rgb(253, 116, 116);
}

.swap {
    background-color: green;
}

.delete {
    background-color: firebrick;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}